In [1]:
import pandas as pd
df1=pd.read_excel(r"D:\Trainee\afreen Assignments\apple\afreena3\friend_names.xlsx")
df1

   friend name        quality
0     vasanthi      sensitive
1     chandana          funny
2  sindhupriya          anger
3      tejasri        selfish
4         rani  simple minded
5         vani       immeture
6       anusha          moody
7     gayathri      sensitive
8      lakshmi          funny
9       ayesha       immeture